<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Get Start</title>
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
  <script src="/javascripts/jquery.min.js"></script>
  <script src="/javascripts/bootstrap.min.js"></script>

</head>

<body>
  <br>
  <br>
  <div class="container">
    <center>
      <div class="wellgetstart">
        <div class="jumbotron">
          <table class="tab">
            <tr>
              <td>
                <a href="/text/alltext">
                  <img src="/images/text.png" class="img-circle" width="100" height="100">
                </a>
              </td>
              <td>
                <a href="/photo/allphoto">
                  <img src="/images/photo.png" class="img-circle" width="100" height="100">
                </a>
              </td>
              <td>
                <a href="#">
                  <img src="/images/qute.png" class="img-circle" width="100" height="100">
                </a>
              </td>
              <td>
                <a href="#">
                  <img src="/images/link.png" class="img-circle" width="100" height="100">
                </a>
              </td>
            </tr>
            <tr>
              <td>Text</td>
              <td>Photo</td>
              <td>qute</td>
              <td>Link</a>
              </td>
            </tr>
          </table>
          <br>
          <table class="tab"> 
            <tr>
              <td>
                <a href="#">
                  <img src="/images/chat.png" class="img-circle" width="100" height="100">
                </a>
              </td>
              <td>
                <a href="#">
                  <img src="/images/audio.png" class="img-circle" width="100" height="100">
                </a>
              </td>
              <td>
                <a href="#">
                  <img src="/images/video.png" class="img-circle" width="100" height="100">
                </a>
              </td>
            </tr>
            <tr>
              <td>Chat</td>
              <td>Audio</td>
              <td>Video</td>
             
            </tr>


          </table>

          <br><br>
      
        </div>

      </div>
      <a href='/restrictedArea/enter'>go</a>
      <h1><%=R.access_token%> gogo</h1>
    </center>
  </div>

</body>

</html>