<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>OAuth Tutorials</title>
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css">
    <script src="/javascripts/jquery.min.js"></script>
    <script src="/javascripts/bootstrap.min.js"></script>

</head>

<body>
<br><br>
    <div class="container">
        <center>
        <div class="well">

            <a href="/home/getstart/"><button class="btn btn-primary"> Get Start</button></a>
            <br><br>
            <a href="/home/login"><button class="btn btn-danger"> Log In</button></a>
        </div>
    </center>
    </div>

</body>

</html>